/* -------------------- */
/* ToDo Counter */
/* -------------------- */
.TodoCounter {
  margin: 1rem;
}

.TodoCounter h2 {
  text-align: center;
  font-size: 2rem;
  text-transform: uppercase;
}

/* -------------------- */
/* ToDo Search */
/* -------------------- */
.TodoSearch {
  text-align: center;
  margin: auto;
  margin-bottom: 4rem;
  outline-color: var(--secondary-color);
}

.TodoSearch input {
  width: calc(100% - 20rem);
  padding: 1rem;
  border-radius: 1rem;
  color: var(--primary-color);

  font-size: 2rem;
}

.TodoSearch input:focus {
  outline: 2px solid;
  outline-color: var(--secondary-color);
}

/* -------------------- */
/* ToDo Item */
/* -------------------- */
.TodoItem {
  margin: 1rem;
  font-size: 2rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--terciary-color);
  color: var(--primary-color);
}

.TodoItem span {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.TodoItem p {
  padding: 0 2rem;
  font-size: 1.8rem;
}

/* -------------------- */
/* ToDo List */
/* -------------------- */
.TodoList {
  margin: 2rem;
  padding: 0;
}

.TodoList * p.completed {
  background-color: aqua;
}

/* -------------------- */
/* ToDo CreateTodoBtn */
/* -------------------- */
.CreateTodoBtn {
  display: flex;
  justify-content: center;
}

.CreateTodoBtn button {
  margin: 4rem;
  border: none;
  cursor: pointer;
  background: none;
}

@media screen and (max-width: 40rem) {
  .TodoList {
    margin: 0;
  }

  .TodoSearch input {
    width: calc(100% - 5rem);
  }
}
