/* GLOBALS STYLES */

html {
  font-family: Helvetica, sans-serif;
  font-size: 62.5%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#root {
  /* max-width: 70rem; */
  border: 1px solid grey;
  border-radius: 1rem;
}
