/*----------------------*/
/*    GLOBALS STYLES    */
/*----------------------*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");

:root {
  --background-color: #21325e;
  --primary-color: #3e497a;
  --secondary-color: #f1d00a;
  --terciary-color: #f0f0f0;
  --check-color: #37d00c;
  --delete-color: #da0037;
  --text-color: #ffffff;
  --completed-task-background-color: #8a8989;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--background-color);
  font-family: "Open Sans", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-image: linear-gradient(
      115deg,
      rgba(58, 58, 158, 0.8),
      rgba(42, 42, 43, 0.7)
    ),
    url(/public/img/night-photograph-starry-sky-night-sky-star-957040.jpeg);
  background-size: cover;
}

#root {
  color: var(--text-color);
  width: 77rem;
  border: 1px solid var(--secondary-color);
  border-radius: 1rem;
  background-color: var(--primary-color);
  opacity: 95%;
}

h1 {
  text-align: center;
  font-size: 7rem;
  color: var(--secondary-color);
}

h3 {
  text-align: center;
  font-size: 2rem;
}

.completed {
  background-color: var(--completed-task-background-color);
}

.completed span:first-child {
  color: var(--check-color);
}

.completed p {
  text-decoration: line-through double;
}

/* ICONS STYLES */
.Icon__info {
  margin-left: 0.5rem;
  vertical-align: middle;
}

.Icon__check {
  font-size: 2rem;
  margin-left: 1rem;
  padding: 0.35rem;
  cursor: pointer;
  border: 0.2px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
}

.Icon__check:hover {
  color: var(--check-color);
  background-color: rgb(225, 225, 225);
}

.Icon__xmark {
  font-size: 2rem;
  margin-right: 1rem;
  padding: 0.35rem;
  cursor: pointer;
  border: 0.2px solid rgb(190, 190, 190);
  border-radius: 0.5rem;
}

.Icon__xmark:hover {
  color: var(--delete-color);
  background-color: rgb(225, 225, 225);
}

.Icon__plus {
  font-size: 5rem;
  color: var(--terciary-color);
}

.Icon__plus:hover {
  color: var(--secondary-color);
  transform: rotate(90deg);
  transition: transform 0.5s;
}

/* ROTATE ICON ANIMATION */
.rotate {
  animation: rotation 2s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}
